body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #454242;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png")
}

.calculator {
    background-color: #2b2b2c;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.number {
    background-color: #a2a6a2;
}

.operator, .equal {
    background-color: #eceeee70;
    color: #fff;
}

.clear {
    background-color: #726e6d;
    color: #fff;
}
.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
  }
    #display{
        background-color: aliceblue;
    }